body {
	background-color: #0d1212;
	color: #fff;
	margin: 0;
}
#canvas {
	/*background-image: url(./images/back.jpg);*/
	background-image: url(https://pp.vk.me/c626426/v626426646/42782/U9M4uU_0CWI.jpg);
	background-repeat: repeat;
	cursor: crosshair;
	position: absolute;
	height: 100%;
	width: 100%;
}